.img {
    margin: 2pc;
    height:300px;
}

.div-bienvenida {
    margin: 5rem 0 10rem 0;
    color: white;
}

.div-bienvenida h2 {
    margin-bottom: 1rem;
}

.div-bienvenida p {
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1.25rem;
}

/*Estilos para la imagen del logo */
.div__img-dotnet {
    width:500px;
}

.div__img-csharp {
    width:500px;
}

/*Estilos para las cabeceras de las columnas de habilidades*/
.div__p-cabecera {
    font-weight:bold;
}

/*Contenedor de la seccion habilidades*/
.div__contenedorHabilidades {
    margin-top: -150px;
}

/*Estilos para columna back*/
.div__div--back {
    border-radius: 15px 0 0 15px;
    box-shadow: 0 5px 5px 0 gray;
}

/*Estilos para columna front */
.div__div--front {
    border-radius: 0 15px 15px 0;
    box-shadow: 0 5px 5px 0 gray;
}

/*Estilos para las cabeceras de las columnas de habilidades Ejercicio8*/
.div__p-cabeceraEj8 {
    font-weight: bold;
}

/*Contenedor de la seccion habilidades Ejercicio8*/
.div__contenedorHabilidadesEj8 {
    margin-top: -150px;
}

/*Estilos para columna back Ejercicio8*/
.div__div--backEj8 {
    border-radius: 15px 0 0 15px;
    box-shadow: 0 5px 5px 0 gray;
}

/*Estilos para columna front Ejercicio8*/
.div__div--frontEj8 {
    border-radius: 0 15px 15px 0;
    box-shadow: 0 5px 5px 0 gray;
}

/*Estilos para la lista desordenada de las habilidades.*/
.div__contenedorHabilidades ul {
    /*Elimino los estilos por defecto de la lista*/
    list-style: none;
    /*Elimino el margen interno izquierdo*/
    padding-left: 0;
}

.div__contenedorHabilidades i {
    /*Estipulo el color de la fuente.*/
    color: #0d6efd;
    /*Estipulo el tamaño de la fuente.*/
    font-size: 50px;
}