@* backend *@
<div class="col col-3 bg-white div__div--back">
    <i class="bi bi-hdd-fill"></i>
    <h3>Back-End</h3>
    <p>Trabajo desde el desarrollo, pruebas automáticas y puesta en producción con entrega continua</p>
    <p class="text-primary div__p-cabecera">Stack:</p>
    <p>ASP.NET Core, SQL Server</p>
    <p class="text-primary div__p-cabecera">Experiencia:</p>
    @* Lista con lenguajes en los que tengo experiencia *@
    <ul>
        <li>Web APIs</li>
        <li>ASP.NET Core MVC</li>
        <li>Entity Framework Core</li>
        <li>Blazor</li>
        <li>Dapper</li>
        <li>Queries especiales</li>
        <li>Principios SOLID</li>
    </ul>
</div>