@* frontend *@
<div class="col col-3 bg-white div__div--front">
    <i class="bi bi-display"></i>
    <h3>Front-End</h3>
    <p>Puedo crear front-ends robustos, los cuales cumplen con los requerimientos del negocio</p>
    <p class="text-primary div__p-cabecera">Stack:</p>
    <p>React, Angular, Blazor</p>
    <p class="text-primary div__p-cabecera">Experiencia:</p>
    @* Lista con lenguajes en los que tengo experiencia *@
    <ul>
        <li>React Hbooks</li>
        <li>Angular Material</li>
        <li>Blazor WASM</li>
        <li>JQuery</li>
        <li>Pruebas Automáticas</li>
        <li>Leaflet</li>
        @* Iconos con bootstrap *@
        <li>Markdown @* <i class="bi bi-sunset bg-danger"></i> *@</li>
    </ul>
</div>