
@* Vista Parcial de Habilidades *@
<div class="div__contenedorHabilidades">

    @* Seccion para describir nuestras habilidades *@
    <div class="row justify-content-md-center text-center">
        @* Seccion Backend *@
        <partial name="_Backend"/>
        @* Seccion Frontend *@
        <partial name="_Frontend" />
    </div>
</div>
