@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mclaren F1 Mechanic</h1>
    <h2>Soy un mecánico para Mclaren</h2>
    @* Inserto una foto *@
    <img class="img w-25 img-thumbnail mx-4 rounded-circle" src="~/img/profile.jpg" alt="MecanicoF1" />
    <p class="">Soy mecánico especializado en automovilismo de alto rendimiento, con experiencia en equipos de Fórmula 1
        donde la precisión y la rapidez son esenciales. Mi trayectoria incluye el mantenimiento integral de monoplazas, 
        optimización de sistemas de suspensión, frenos y motores bajo condiciones extremas. Trabajo en entornos de alta presión,
        garantizando la seguridad y el máximo rendimiento en cada carrera. Me destaco por mi capacidad de diagnóstico técnico, 
        resolución de problemas y coordinación con ingenieros y pilotos. He participado en múltiples temporadas, 
        contribuyendo al éxito competitivo mediante innovación y disciplina. Mi objetivo es seguir perfeccionando 
        procesos mecánicos y aportar valor en equipos que buscan excelencia. Apasionado por la ingeniería y la velocidad, 
        combino conocimiento técnico con compromiso absoluto hacia la competición.
    </p>
</div>
