@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy el Profe</h1>
    <h2>Soy un desarrollador fullstack</h2>
    @* Inserto una foto *@
    <img class="img w-25 img-thumbnail mx-4 rounded-circle" src="~\img\foto.jpg" alt="Foto profe" />
</div>
